.nav{
    height: 150px;
    font-size: 25px;
}
.x{
    margin: 180px;
    color:  rgb(116, 39, 3);
    text-decoration: none;
}
.z{
    margin: 180px;
    color:  rgb(116, 39, 3);
    text-decoration: none;
}
.y{
    margin: 180px;
    color:  rgb(116, 39, 3);
    text-decoration: none;
}