.footer{
  width: 1366px;
  background-color: darkcyan;
  color: white;
  position: absolute;
  bottom: 0px;
  border-top: none;
  display: flex;
  font-size: 16px;
  left: 0;
}
span{
   position: absolute;
   right: 679px;
}